[access]
	inheritFrom = All-Projects
[project]
	description = Simple car racing game. Project is for education proposes and testing of new coding skills.
[access "refs/*"]
	owner = group user/Ivan Bilych (ivanbilych)
[access "refs/for/refs/*"]
	read = group user/Ivan Bilych (ivanbilych)
	read = group user/Oleksandra Bilych (OleksandraBilych)
	push = group user/Ivan Bilych (ivanbilych)
	push = group user/Oleksandra Bilych (OleksandraBilych)
	label-Code-Review = -2..+2 group user/Ivan Bilych (ivanbilych)
	label-Code-Review = -2..+2 group user/Oleksandra Bilych (OleksandraBilych)
	label-Verified = -1..+1 group user/Ivan Bilych (ivanbilych)
	label-Verified = -1..+1 group user/Oleksandra Bilych (OleksandraBilych)
	rebase = group user/Ivan Bilych (ivanbilych)
	rebase = group user/Oleksandra Bilych (OleksandraBilych)
	removeReviewer = group user/Ivan Bilych (ivanbilych)
	removeReviewer = group user/Oleksandra Bilych (OleksandraBilych)
	submit = group user/Ivan Bilych (ivanbilych)
	submit = group user/Oleksandra Bilych (OleksandraBilych)
[access "refs/heads/*"]
	read = group user/Ivan Bilych (ivanbilych)
	read = group user/Oleksandra Bilych (OleksandraBilych)
	create = group user/Ivan Bilych (ivanbilych)
	push = +force group user/Ivan Bilych (ivanbilych)
	pushMerge = group user/Ivan Bilych (ivanbilych)
[access "refs/tags/*"]
	push = group user/Ivan Bilych (ivanbilych)
	push = +force group user/Ivan Bilych (ivanbilych)
	push = group user/Oleksandra Bilych (OleksandraBilych)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[change]
	workInProgressByDefault = true
[submit]
	action = fast forward only
	mergeContent = false
